body{
    font-family: sans-serif;
    background: white;
    
}
h1{
    font-size: 94px;
}
.margin{
    padding-top: 50px;
    margin-left: 2%;
    color:#FFE600;
}
header{
    background: black;
    margin-top: -47px;
    height: 187px;
}
header p{
    color: darkgray;
    margin-top: -100px;
    margin-left: 58%;
    font-size: 25px;
}
.home{
    background-image: url("assets/big_img.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    height: 600px;
    background-position: center;
    
}