body{
    font-family: sans-serif;
    background: aliceblue;
    
}
h1{
    font-size: 94px;
}
.margin{
    padding-top: 50px;
    margin-left: 2%;
    color:#FFE600;
}
header{
    background: black;
    margin-top: -47px;
    height: 187px;
}
header p{
    color: darkgray;
    margin-top: -100px;
    margin-left: 58%;
    font-size: 25px;
}
.home{
    background-image: url("assets/big_img.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    height: 600px;
    background-position: center;
    padding-top: 280px;
    margin-top: -140px;
}
.home p{
    margin-top: -110px;
}
.main{
    background-color: #fff;
    background-size: cover;
    height: 400px;
    width: 100%;
    margin-top: -128px;
}
.main h2,
.main p{
    margin-left: 5%;
    margin-right: 5%;
}
.main p{
    font-size: 23px;
    line-height: 40px;
    color: grey;
    font-weight: 100;
}
.button{
    width: 14%;
    height: 65px;
    margin-left: 5%;
    text-align: center;
    font-size: 23px;
    font-weight: 100;
    border-radius: 50px;
    border: 2px solid #484848;
    background-color: #484848;
}
.button p{
    margin-top: 14px;
    color: #fff;
}
.container{
    background-color: #fff;
    background-size: cover;
    height: 480px;
    width: 100%;
    margin-top: 30px;
}
.column{
    margin-top: 50px;
    margin-bottom: 22px;
    width: 30%;
    margin-left: 14px;
    margin-right: 14px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 40px;
    color: grey;
    font-weight: 100;
    font-size: 23px;
}
.column img{
    width: 30%;
    height: auto;
}
.container1{
    background-color: #fff;
    background-size: cover;
    height: 580px;
    width:100%;
    margin-top: 30px;
}
.column1{
    margin-top: 50px;
    margin-top: 22px;
    width: 45%;
    margin-left: 14px;
    margin-right: 14px;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    color: grey;
    font-weight: 100;
    font-size: 23px;
}
.column1 img{
    width: 100%;
    height: auto;
}
.container2{
   background-color: #49e20e;
    background-size: cover;
    height: 180px;
    width: 100%;
    margin-top: 30px;
}
.column2 h3{
    margin-top: 30px;
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 100;
}
.container3{
    background-color: #fff;
    background-size: cover;
    height: 280px;
    width: 100%;
    margin-top: 30px;
}
.column3{
    margin-top: 50px;
    margin-bottom: 22px;
    margin-left: 14px;
    margin-right: 14px;
    line-height: 40px;
    color: grey;
    font-weight: 100;
    font-size: 23px;
}
.container4{
    background-color: #484848;
    background-size: cover;
    height: 180px;
    width: 100%;
    margin-top: 30px;
}
.column4 h3{
    margin-top: 30px;
    color: #e6c032;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}


































