body{
    font-family: sans-serif;
    background: white;
    
}
h1{
    font-size: 94px;
}
.margin{
    padding-top: 50px;
    margin-left: 2%;
    color:#FFE600;
}
header{
    background: black;
    margin-top: -47px;
    height: 187px;
}
header p{
    color: darkgray;
    margin-top: -100px;
    margin-left: 58%;
    font-size: 25px;
}
.home{
    background-image: url("assets/big_img.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    height: 600px;
    background-position: center;
    padding-top: 280px;
}
.home p{
    margin-top: 110px;
}
.main{
    background-color: #fff;
    background-size: cover;
    height: 400px;
    width: 100%;
    margin-top: -128px;
}
.main h2,
.main p{
    margin-left: 5%;
    margin-right: 5%;
}
.main p{
    font-size: 23px;
    line-height: 40px;
    color: grey;
    font-weight: 100;
}
.button{
    width: 14%;
    height: 65px;
    margin-left: 5%;
    text-align: center;
    font-size: 23px;
    font-weight: 100;
    border-radius: 50px;
    border: 2px solid #484848;
    background-color: #484848;
}













